* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

// Utility classes

.container {
  padding: 1rem 6rem 1rem 4.75rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

// Home page top section styles
.user-img-container {
  background-image: url(../img/income_pic2.png);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position-x: 90%;
  transition: 200ms ease;
}

.bg-container-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(../img/hero_bkg.jpg);
  z-index: -2;
}

.home-container {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%);

  .topbar {
    white-space: nowrap;

    nav {
      margin-left: auto;
      margin-right: 3rem;
    }
    .img-container {
      width: 3rem;
      cursor: pointer;
      @extend .flex, .align-center, .justify-center;

      >img {
        max-width: 2rem;
      }

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      height: 3rem;
    }

    .search {
      gap: 1rem;
    }

    h4 {
      font-size: 35px;
      color: #fff;
      margin: 0 0rem 0 1rem;
    }

    a {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      margin: 0 2.75rem;
      position: relative;

      &:hover::before {
        content: "";
      }

      &::before {
        position: absolute;
        left: -0.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: aqua;
        opacity: 0.7;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  .home-content {
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;

    h2 {
      color: #fff;
      font-size: 3.75rem;
    }

    .flex {
      color: #fff;

      .down-arrow {
        border: 1px solid #fff;
        border-radius: 58vw;
        padding: 1rem 0.5rem 0.35rem 0.5rem;
        font-size: 42px;
        margin-right: 0.5rem;
      }

      p {
        padding-top: 10px;
        font-size: 15px;
      }
    }
  }
}

// section subscription
.section {
  min-height: 100vh;
  padding: 10em 5em;
}

.subscription {
  background-color: black;

  h4 {
    text-align: center;
    color: #fff;
  }

  h2 {
    @extend h4;
    font-size: 300%;
  }

  p {
    @extend h4;
  }

  .price {
    display: flex;
    place-content: center;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 6rem;

    .detail {
      width: 16rem;
      height: 16rem;
      background-color: #2e2c2c;
      border-radius: 50%;
      text-align: center;
      filter: drop-shadow(0px 0 1rem hsla(185deg, 58%, 70%, 0.6));
      padding: 2rem;

      .price-detail {
        padding-top: 1.5rem;
        font-size: 700%;
        font-weight: bold;
        color: #fff;

        span {
          vertical-align: super;
          font-size: 50%;
        }
      }

      .description {
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .learn-more {
    margin-bottom: 6rem;

    a {
      color: #fff;
      text-align: center;

      &:hover {
        color: hsl(185deg 58% 70%);
      }
    }
  }

  .tiers {
    display: flex;
    place-content: center;
    gap: 5rem;
    margin-top: 3rem;

    .tier {
      width: 25rem;
      height: 18rem;
      background-color: #2e2c2c;
      filter: drop-shadow(0px 0 1rem hsla(185deg, 58%, 70%, 0.6));
      padding: 0 2rem;
      text-align: center;
      justify-content: center;
      gap: 4rem;

      .head {
        padding-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 225%;
        color: #fff;
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
      }

      .tier-note {
        margin-top: 1rem;
      }
    }
  }
}

// FAQ section
.FAQ {
  background-image: url(../img/faq_bg.jpg);

  h2 {
    font-size: 300%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  .FAQ-area {
    .FAQ-data {
      display: flex;
      justify-content: space-between;
      padding: 2rem 4rem;
      margin-top: 2rem;
      color: #fff;
      border-left: 0.5rem solid #fff;
      font-size: 1.5rem;
      background: #2e2c2c;
      border-radius: 0 8px 8px 0;
      cursor: pointer;

      &:hover {
        background-color: hsl(255 10% 15% / 1);
      }
    }

    .FAQ-content {
      margin: 0em 4em 0em 0.6em;
      padding-left: 6rem;
      background-color: #000;
      border-radius: 0 0 8px 8px;
      padding-top: 2rem;
      padding-bottom: 2rem;

      p {
        color: #fff;
      }

      ul {
        margin-top: 1rem;
        color: #fff;
      }
    }
  }
}

// First person
.firstPerson {
  display: block;
}
.secondPerson,
.thirdPerson {
  display: none;
}
.firstPerson,
.secondPerson,
.thirdPerson {
  h2,
  h3,
  h5,
  li {
    opacity: 0;
  }
  h2 {
    transform: translateY(72%);
  }
  h3 {
    transform: translateY(72%);
  }
  h5 {
    transform: translateY(80%);
  }
  li {
    transform: translateY(80%);
  }
}
.section {
  padding: 160px 80px;
}

.person-container {
  min-height: 300vh;
}

.person {
  * {
    transition: 3000ms;
  }

  overflow: hidden;
  position: sticky;
  top: 0;

  .bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/brand_bg.jpg);
    background-size: cover;
    left: 0;
    top: 10%;
    scale: 1.3;
  }

  background-repeat: no-repeat;

  .first-part {
    color: #fff;
    position: relative;
    display: flex;
    min-height: 75vh;

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;

      .title {
        margin-top: 10rem;
      }

      &.right {
        margin-top: 10rem;

        h2,
        h3 {
          text-align: right;
        }
      }
    }

    .info {
      margin-top: auto;
      // position: absolute;
      // width: 40%;
      // color: #fff;
      // top: 20rem;

      ul {
        list-style-type: none;
        font-weight: bold;
        margin-top: 2rem;
        position: relative;
        padding: 0;
        margin: 0;
      }

      li {
        margin-top: 1rem;
        margin-left: 5rem;
        position: relative;
      }

      li::before {
        content: url(../img/check-circle.svg);
        filter: invert(97%) sepia(6%) saturate(4405%) hue-rotate(156deg) brightness(89%) contrast(97%);
        position: absolute;
        left: -2.5rem;
      }
    }

    // .pic{
    //   position: absolute;
    //   float: right;
    //   right: 4rem;
    //   top: 3rem;
    //   img {
    //     width: 70%;
    //     transform: translate3d(77.7735px, 0px, 0px);
    //   }
    // }
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

// application
.application {
  background-image: url(../img/footer-bg.png);
  h2 {
    text-align: center;
    color: #fff;
    font-size: 300%;
  }

  .Registration {
    margin: 8rem auto;
    padding: 2.5rem;
    width: 70%;
    color: #fff;

    .form {

      input {
        padding: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1rem;
        background-color: #2e2c2c;
        border: 1px solid black;
      }

      .button {
        text-align: center;
        margin-top: 1rem;
      }

      button {
        background-color: hsl(185deg 58% 70%);
        border: #fff;
        padding: 0.5rem 1rem;
        cursor: pointer;

      }
    }
  }
}